html{
  height: 100%;
}

body{
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(img/blue\ 5.jpg);
  background-size: cover;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:black;
    color: white;
 }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black; color: white;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .spacing{
    padding-left: 200px;
    padding-right: 200px;
}

body {font-family: Verdana, sans-serif; margin:0}

footer{
  color: white;
  text-align: center;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px ;
  position: absolute
}
h2{
  color:white;
}